./debug/*
./debug
./visulizer/*.mp4
visulizer/*.mp4
./visulizer/*.gif
visulizer/*.gif
debug/
release/
./release/*
./release
./test_result.txt
./.worktree/*
./experiments/*.csv
./experiments/*/*.csv
./experiments/results/*
./experiments/w.py
./experiments/config.json
